


html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Fontmedium" !important;
}


@font-face {
  font-family: "Fontmedium";
  src: local("Fontmedium"), url("../src/assets/fonts/TBCContracticaCAPS-Medium.ttf");
  font-display: swap;
}

p{
  margin-bottom: 0 !important;
}


.is-Transformed {
  width: 50%;
  margin: auto;
  position: absolute;
  top: 50%; 
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-80%,-50%);
}
